<p id="notice"><%= notice %></p>

<h1>Poems</h1>
 
    <% @poems.each do |poem| %>
       <%= link_to poem.title, poem %><br />
       <%= poem.text %><br />
       by: <%= poem.user.username %><br />
        <% if poem.user_id == current_user.id %>
         <%= link_to 'Edit', edit_poem_path(poem) %>
         <%= link_to 'Destroy', poem, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %><br />
    <% end %>



