<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @poem.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @poem.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= link_to @poem.user.username, user_path(@poem.user.id) %>
</p>

<%= link_to 'Edit', edit_poem_path(@poem) %> |
<%= link_to 'Back', poems_path %>
