<div style="text-align:center;"><%= link_to "See all Magnet Poems", magnet_poems_path %></div>

 <div id="wrapper">
      <div id="header">
        <h1>Create your poem</h1>
      </div>
      <div id="content">
        <div class="draggable"> a </div>
        <div class="draggable"> or </div>
        <div class="draggable"> she </div>
        <div class="draggable"> her </div>
        <div class="draggable"> he </div>
        <div class="draggable"> his </div>
        <div class="draggable"> they </div>
        <div class="draggable"> their </div>
        <div class="draggable"> there </div>
        <div class="draggable"> story </div>
        <div class="draggable"> kiss </div>
        <div class="draggable"> in </div>
        <div class="draggable"> the </div>
        <div class="draggable"> rain </div>
        <div class="draggable"> sky </div>
        <div class="draggable"> woods </div>
        <div class="draggable"> lovely </div>
        <div class="draggable"> kind </div>
        <div class="draggable"> of </div>
        <div class="draggable"> the </div>
        <div class="draggable"> every </div>
        <div class="draggable"> and </div>
        <div class="draggable"> the </div>
        <div class="draggable"> in </div>
        <div class="draggable"> day </div>
        <div class="draggable"> night </div>
        <div class="draggable"> field </div>
        <div class="draggable"> stormy </div>
        <div class="draggable"> forever </div>
        <div class="draggable"> make </div>
        <div class="draggable"> be </div>
        <div class="draggable"> go </div>
        <div class="draggable"> and </div>
        <div class="draggable"> where </div>
        <div class="draggable"> when </div>
        <div class="draggable"> why </div>
        <div class="draggable"> who </div>
        <div class="draggable"> should </div>
        <div class="draggable"> could </div>
        <div class="draggable"> wait </div>
        <div class="draggable"> forever </div>
        <div class="draggable"> said </div>
        <div class="draggable"> she </div>
        <div class="draggable"> he </div>
        <div class="draggable"> want </div>
        <div class="draggable"> it </div>
        <div class="draggable"> leave </div>
        <div class="draggable"> smile </div>
        <div class="draggable"> go </div>
        <div class="draggable"> one </div>
        <div class="draggable"> day </div>
        <div class="draggable"> more </div>
        <div class="draggable"> on </div>
        <div class="draggable"> it </div>
        <div class="draggable"> once </div>
        <div class="draggable"> wouldn't </div>
        <div class="draggable"> be </div>
        <div class="draggable"> s </div>
        <div class="draggable"> s </div>
      </div>

      <%= form_for(@magnet_poem) do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
      <div id="droppable"></div>
      	<%= f.hidden_field :text, id: "magnetTextarea" %>
	    <%= f.submit "Submit", id: "magnetSubmit" %>
	<% end %>
