<!DOCTYPE html>
<html>
<head>
  <title>Poesy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header" style="width:90%;border-bottom:1px grey solid;">	
	<div style="width:30%;display:inline-block;">
		<h1>Poesy</h1>
		<span>po·e·sy</span>
		<span>ˈpōəzē,-sē/</span>
		<h4>The art or composition of poetry.</h4>
	</div>
	<span style="width:30%;display:inline-block;">
		<p><%= link_to "Create Blackout Poem", new_blackout_poem_path %></p>
		<p><%= link_to "Create Magnet Poem", new_magnet_poem_path %></p>
		<p><%= link_to "Create Your Own Poem", new_poem_path %></p>
	</span>

	<span style="display:inline-block;float:right;"
		<% if !current_user %>
			<p><%= link_to "Sign Up", new_user_registration_path %></p>
			<p><%= link_to "Sign In", new_user_session_path %></p>
		<% else %>
			<p><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></p>
			<p><%= link_to "Profile", user_path(current_user.id) %></p>
		<% end %>
	</span>	
</div>
<%= yield %>

</body>
</html>
